{% extends 'base.html' %}
{% load static %}

<!-- base.html 랑 다른 title -->
<!-- {% block title %} 숙소 리스트:{{ keyword }}{% endblock %} -->


{% block content %}


{% comment %} {% block super %} {% endcomment %}


<!-- Search Start -->

<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-10">                
                <input type="text" class='form-control border-0 py-3' id='search_keyword' placeholder={{ keyword }}>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark border-0 w-100 py-3" onclick="search_result()">검색</button>
            </div>
        </div>
    </div>
</div>

<!-- Search End -->







{% comment %} 검색 결과 start {% endcomment %}

<div class="container-xxl py-5">    
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1>숙소</h1>
                    <h3>"{{ keyword }}" 검색 결과 입니다.</h3>
                    <!-- <h1 class="mb-3">Property Listing</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p> -->
                </div>
            </div>
            <!-- <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">For Sell</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">For Rent</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="tab-content">


            {% comment %} <div id="tab-1"> start {% endcomment %}
            <!-- 템플릿 영역 시작 -->
            <div class="container">
                {% comment %} {% block super %} {% endcomment %}
                        {% include "./search_hotels_price_min.html" %}
                {% comment %} {% endblock %} {% endcomment %}
            </div>
            <!-- 템플릿 영역 끝 -->
            {% comment %} <div id="tab-1"> end {% endcomment %}


        </div>
    </div>
</div>

{% comment %} 검색 결과 end {% endcomment %}


<script>
    function search_result() {
        let keyword = document.getElementById("search_keyword").value;
        window.location.href = keyword;
    }
</script>

{% endblock content %}